.MainFooter{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 7% ;
    padding-top: 80px;
    /* border: 2px solid blue; */
}

.LeftFooter{
    display: flex;
    width: 35%;
    flex-direction: column;
    /* border: 2px solid red; */
    text-align: left;
    padding-left: 40px;
}
.LeftFooter > div > h1{
    font-weight: bolder;
    color: #0b3558;
} 
.LeftFooter > div:nth-child(2){
    width:80%
}
.LeftFooter p{
    margin-top: -10px;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.Select{
    margin-top: 30px;
    width: 85%;
    justify-content: center;
    height: 45px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-color: lightgrey;
}
.Select:hover{
    nav-down: auto;
}


.RightFooter{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* border: 2px solid black; */
    padding-right: 60px;
}
.RightFooter > div{
    text-align: left;
    font-weight: lighter;
}
.RightFooter > div > h3{
  color: #0b3558;
}
.RightFooter > div > a{
    color: grey;
    text-decoration: none;
}
.RightFooter > div> a > p:hover{
    text-decoration: underline;
}
